*{
    padding: 0;
    margin : 0;
}


body{
    font-family: Tahoma, Geneva, sans-serif;
    background: url(../img/fond.jpg) no-repeat center fixed; 
    background-size: cover;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    z-index: 1;
    color : #d4ca00;
}


/* Menu */

header{
    position : fixed;
    width: 100%;
    top : 0;
    display: flex; 
    z-index: 1000; 
}

#logo{
    background-color: #081376;
    width: 30%;
    float: left;
    display: flex;
    
}

#logo h1 {
    align-self: center ;
    margin-left: 10%;
}


.test{
    width: 100%;
    background-color: #081376;
}

#mainMenu{
    position: relative;
    background-color: #081376;
    border : 1px solid black;
    right: 5%;
    height: 50%;
    top: 25%;
    float: right ;
}


.menu{
    padding: 0;
    margin: 0;
    font-size : 0 ;
}

.menu li{
    display: inline-block;
    vertical-align: top;
    position : relative;
    
}

.menu a{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 1.3rem;
    background-color:  #b3bcc3 ; 
    
}
#mainMenu a:hover{
    color: black;
    background-color: #d4ca00;
}

/*Titre*/

#contenu{
    z-index: 100;
    
}

#conteneur{
    color : white;
    height: 100%;
    margin-top: 8%;
    margin-left : 10%;
    margin-right: 10%;
    text-align: center;
    z-index: 10;
    background-color: rgba(0,0,0,.4);
    transition: background-color 0.8s ease;

}

#conteneur:hover{
    color : black;
    height: 100%;
    margin-top: 8%;
    margin-left : 10%;
    margin-right: 10%;
    text-align: center;
    z-index: 100;
    background-color: rgba(255,255,255,.7);
    
}


#bigfloEtOli {
   display : flex;
   flex-direction: row;
   border: 2px solid white;
   margin: 10px;
   padding: 10px;
}

#bigfloEtOli div {
    margin : 20px;
}

#bigflo{
    display : flex;
    flex-direction: row-reverse;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
 }
 
 #bigflo div {
     margin : 20px;
 }

 #oli{
    display : flex;
    flex-direction: row;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
 }
 
 #oli div {
     margin : 20px;
 }

 #debut{
    display : flex;
    flex-direction: row-reverse;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
 }
 
 #debut div {
     margin : 20px;
 }



/*Footer*/

footer{
    text-align: center;
    align-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.ligne{
    background-color: #d4ca00 ;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 3px;
    color: #d4ca00;
    border-radius: 10%;
}

.info{
    position : absolute;
    width: 100%;
    background-color: #081376;
    font-weight: bold;
    
}

.social{
    margin-bottom: 5vh;
}

.sociaux{
    width: 50px;
    height: auto;
    opacity: 0.7;
}

.newsletter{
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color : black;
    
}

#restezInforme{
	height: 25%;
	width: 16%;
	position: absolute;
    top: 40%;
	right: 5%;
	background-color: #b3bcc3;
	border-radius: 50px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
	transition: 0.5s;
}

#restezInforme:hover{
    width: 25%;
    padding-top: 0.7%;
}

.mentions{
    background-color: #d4ca00;
    color : #191530;
    text-align: center;
    position : absolute;
    width: 100%;
    bottom: 0;
}
